@import url(base.css);

body
{
	font-family: Helvetica, Arial;
	background: #fff;
	color: #000;
}

h3
{
}

h4
{
    color: #07A;
}

body > .toolbar {
    border-bottom: 1px solid #2d3642;
    border-top: 1px solid #6d84a2;  
    background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #e6e6e6),
		color-stop(1, #cccccc)
	);  
	background: -moz-linear-gradient(top, #e6e6e6, #cccccc);
    -moz-box-shadow: rgba(0,0,0,0.5) 0px 2px 3px;
    -webkit-box-shadow: rgba(0,0,0,0.5) 0px 2px 3px;
}

.toolbar > h1
{
	color: #000;
	text-shadow: rgba(255, 255, 255, 1) 1px 1px 0;
}

.toolbar > .button 
{
	color: #fff;
	text-align: center;
	text-decoration: none;	
	
	font-weight: bold;
	font-size: .8em;
	
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    
    border: solid 2px #fff;
    cursor: pointer;

    text-shadow: rgba(0, 0, 0, 1) 1px 1px 0;
    
    -moz-box-shadow: rgba(0,0,0,0.75) 0px 0px 4px;
    -webkit-box-shadow: rgba(0,0,0,0.75) 0px 0px 4px;
    
    background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, rgb(42,101,80)),
		color-stop(1, rgb(6,74,52))
	);
	background: -moz-linear-gradient(
		center top,
		rgb(42,101,80) 0%,
		rgb(6,74,52) 100%
	);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
}

.dialog > fieldset
{
	border-bottom: 1px solid #2d3642;
    border-top: 1px solid #6d84a2;  
    background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #e6e6e6),
		color-stop(1, #aaaaaa)
	);  
	background: -moz-linear-gradient(top, #e6e6e6, #aaaaaa);
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
}

.dialog > fieldset > hr
{
    display: block;
    width: 100%;
    border-style: inset;
    border-color: #eeeeee;
}

.dialog > fieldset > label
{
    color: #999999;
}

body > div.toolbar-float[open],
body[orient] > div.toolbar-float[open]
{
	background-image: url(../images/arrow-right.png), -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(44,44,44)),
		color-stop(0.5, rgb(21,21,21)),
		color-stop(0.5, rgb(49,49,49)),
		color-stop(1, rgb(79,79,79))
	);
	background-image: url(../images/arrow-right.png), -moz-linear-gradient(
		center bottom,
		rgb(44,44,44) 0%,
		rgb(21,21,21) 50%,
		rgb(49,49,49) 50%,
		rgb(79,79,79) 100%
	);
}

.toolbar-float
{
	background-image: url(../images/arrow-left.png), -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(44,44,44)),
		color-stop(0.5, rgb(21,21,21)),
		color-stop(0.5, rgb(49,49,49)),
		color-stop(1, rgb(79,79,79))
	);
	background-image: url(../images/arrow-left.png), -moz-linear-gradient(
		center bottom,
		rgb(44,44,44) 0%,
		rgb(21,21,21) 50%,
		rgb(49,49,49) 50%,
		rgb(79,79,79) 100%
	);

	background-position: 6px center, top left;
	background-repeat: no-repeat, no-repeat;
}

.toolbar-float-container a
{
    color: #fff;
}

.panel > h2
{
    border-bottom: 1px solid #34491d;
    border-top: 1px solid #c1d6a9;
    background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #83ae53),
		color-stop(1, #69933a)
	);
	background: -moz-linear-gradient(top, #83ae53, #69933a);
    -moz-box-shadow: rgba(0,0,0,0.5) 0px 2px 3px;
    -webkit-box-shadow: rgba(0,0,0,0.5) 0px 2px 3px;
    color: white;
    text-shadow: rgba(0, 0, 0, 1) 1px 1px 0px;
    font-weight: normal;
}

.panel > h2:first-child
{
    border-top: none 0 black;
}


.panel > fieldset
{
    border-style: none solid solid solid;
    border-color: #024731;
    border-width: 0 2px 2px 2px;
    background: #f2f2f2;    
}

input:focus
{
	outline: none;
	background-color: #FDFFDD;
}

li.search
{    
    background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #83ae53),
		color-stop(1, #69933a)
	);
	background: -moz-linear-gradient(top, #83ae53, #69933a);
	border-bottom: 1px solid #34491d;
    border-top: 1px solid #83ae53;
    /*
    background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #e6e6e6),
		color-stop(1, #cccccc)
	);
	background: -moz-linear-gradient(top, #e6e6e6, #cccccc);
    border-bottom: 1px solid #2d3642;
    border-top: 1px solid #e6e6e6;
    */
    -moz-box-shadow: rgba(0,0,0,0.5) 0px 2px 3px;
    -webkit-box-shadow: rgba(0,0,0,0.5) 0px 2px 3px;
}

li.search input
{
    font-size: .6em;
    line-height: 30px;

    /* these are marked !important due to Chrome CSS fix */
    /* todo: needed still? */
    padding: 0 128px 0 5px !important;
    -moz-border-radius: 3px !important;
    -webkit-border-radius: 3px !important;
    border: inset 1px #000 !important;
    background: #fff;
    /*
    -moz-box-shadow: rgba(0,0,0,0.75) 0px 0px 4px;
    -webkit-box-shadow: rgba(0,0,0,0.75) 0px 0px 4px;
    */
    -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.5);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
}

li.search .searchButton
{
    background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #e6e6e6),
		color-stop(1, #cccccc)
	);
	background-image: -moz-linear-gradient(top, #e6e6e6, #cccccc);
    -moz-border-radius: 0px 3px 3px 0px;
    -webkit-border-radius: 0px 3px 3px 0px;
    color: #555;
	text-shadow: rgba(255, 255, 255, 1) 1px 1px 0;
    font-size: .6em;
    line-height: 30px;
    padding: 0 8px 0 6px;
    border: inset 1px #000;
    text-align: center;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
}

li.search .dismissButton
{
    background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #e6e6e6),
		color-stop(1, #cccccc)
	);
	background-image: -moz-linear-gradient(top, #e6e6e6, #cccccc);
    color: #555;
	text-shadow: rgba(255, 255, 255, 1) 1px 1px 0;
    -moz-border-radius: 3px 0px 0px 3px;
    -webkit-border-radius: 3px 0px 0px 3px;
    font-size: .6em;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    border-style: inset;
    border-color: #000;
    border-width: 1px 0 1px 1px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;  
}

li.search label
{
    color: #aaa;
    font-size: .6em !important;
    line-height: 32px;
    padding: 0 8px 0 6px;
    font-weight: normal;
}

.panel > ul
{
    border-style: none solid solid solid;
    border-color: #024731;
    border-width: 0 2px 2px 2px;
    background: #f2f2f2;
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    -webkit-border-bottom-right-radius: 8px;
}

.panel > ul > li
{
    border-bottom: solid 1px #ddd;
}

.panel > ul > li:last-child
{
    border-bottom: none 0 black;
}

.panel > ul > li > a,
.panel > ul > * > a
{
    color: inherit;
    text-decoration: none;
}

div.row > label
{
    color: #07A;
}

div.row-edit > input:focus
{    
    -webkit-box-shadow: 0 0 5px #00AAFF !important;
    -moz-box-shadow: 0 0 5px #00AAFF !important;
}

div.row-edit
{
    border-bottom: solid 1px #ddd;
}

div.row-edit:last-child
{
    border-bottom: none 0 black;
}

.more > a
{
    margin: 0;
}

.whiteButton
{
    color: #444;
	text-align: center;
	text-decoration: none;

	font-weight: bold;
	font-size: .8em;

	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    border: solid 2px #fff;
    cursor: pointer;

    -moz-box-shadow: rgba(0,0,0,0.75) 0px 0px 4px;
    -webkit-box-shadow: rgba(0,0,0,0.75) 0px 0px 4px;

    background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #e6e6e6),
		color-stop(1, #cccccc)
	);
	background-image: -moz-linear-gradient(top, #e6e6e6, #cccccc);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    text-shadow: rgba(255, 255, 255, 1) 1px 1px 0;
}