{
  "presets": [
    ["es2015", {
      "modules": false
    }],
    "es2016",
    "es2017",
    "react"
  ],
  "plugins": [
    "add-module-exports",
    ["transform-es2015-modules-amd", {
      "strict": false
    }],
    "transform-object-rest-spread"
  ],
  "sourceRoot": "src",
  "moduleRoot": "crm",
  "moduleIds": true
}
