{
  "presets": [
  ],
  "plugins": [
    "transform-es2015-classes",
    "add-module-exports",
    ["transform-es2015-modules-amd", {
      "strict": false
    }]
  ],
  "sourceRoot": "src",
  "moduleRoot": "crm",
  "moduleIds": true
}
