{
  "extends": "airbnb/base",
  "globals": {
    "Sage": false,
    "App": false,
    "argos": false,
    "crm": false,
    "icboe": false,
    "Mobile": false,
    "Simplate": false,
    "Chart": false,
    "ReUI": false,
    "module": false,
    "Base64": false,
    "define": false,
    "require": false,
    "Rx": false,
    "moment": false,
    "PouchDB": false
  },
  "rules": {
    "max-len": 0,
    "prefer-rest-params": 0,
    "no-param-reassign": 0
  }
}
