{
  "extends": "airbnb",
  "globals": {
    "Sage": false,
    "App": false,
    "argos": false,
    "crm": false,
    "Mobile": false,
    "Simplate": false,
    "Chart": false,
    "ReUI": false,
    "module": false,
    "Base64": false,
    "define": false,
    "require": false,
    "Rx": false,
    "moment": false,
    "PouchDB": false
  }
}
