<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Jasmine Spec Runner</title>
  <% css.forEach(function(style){ %>
  <link rel="stylesheet" type="text/css" href="<%= style %>">
  <% }); %>

  <% with (scripts) { %>
    <% [].concat(polyfills, jasmine, vendor, helpers).forEach(function(script){ %>
    <script src="<%= script %>"></script>
    <% }) %>
  <% }; %>

  <!-- SData Client Library -->
  <script type="text/javascript" src="../../argos-sdk/libraries/sdata/sdata-client-dependencies-debug.js"></script>
  <script type="text/javascript" src="../../argos-sdk/libraries/sdata/sdata-client-debug.js"></script>

  <!-- Simplate -->
  <script type="text/javascript" src="../../argos-sdk/libraries/Simplate.js"></script>

  <!-- Deep Diff -->
  <script type="text/javascript" src="../../argos-sdk/libraries/deep-diff/deep-diff-0.2.0.min.js"></script>

   <!-- PouchDB -->
  <script type="text/javascript" src="../../argos-sdk/libraries/PouchDB/pouchdb-4.0.3.min.js"></script>

  <!-- Rx.js -->
  <script src="../../argos-sdk/libraries/rxjs/rx.lite.js"></script>

  <!-- Babel -->
  <script type="text/javascript" src="../../argos-sdk/libraries/babel-polyfill/polyfill.js"></script>

  <!-- moment -->
  <script type="text/javascript" src="../../argos-sdk/libraries/moment/moment-with-locales.js"></script>

  <!-- L20N.js -->
  <script type="text/javascript" src="../../argos-sdk/libraries/l20n/l20n.js"></script>

  <!-- ICRM Common, depends on moment -->
  <script type="text/javascript" src="../../argos-sdk/libraries/icrm/common.bundle.js"></script>
  <script type="text/javascript" src="../../argos-sdk/libraries/icrm/customization.bundle.js"></script>
  <script type="text/javascript" src="../../argos-sdk/libraries/icrm/services.bundle.js"></script>

  <!-- page.js -->
  <script type="text/javascript" src="../../argos-sdk/libraries/pagejs-1.6.1/page.js"></script>

  <!-- Dojo -->
  <script type="text/javascript" src="../../argos-sdk/libraries/dojo/dojo/dojo.js" data-dojo-config="parseOnLoad:false, async:true"></script>
  <script type="text/javascript">
  require({
      baseUrl: "./",
        packages: [
            { name: 'dojo', location: '../../argos-sdk/libraries/dojo/dojo' },
            { name: 'dijit', location: '../../argos-sdk/libraries/dojo/dijit' },
            { name: 'snap', location: '../../argos-sdk/libraries/snap', main: 'snap' },
            { name: 'argos', location: '../../argos-sdk/src-out' },
            { name: 'crm', location: 'src-out' },
            { name: 'spec', location: 'tests/src' },
            { name: 'localization', location: 'localization' },
            { name: 'configuration', location: 'configuration' }
        ],
        paths: {
            'configuration': 'configuration',
            'localization': 'localization',
        },
        map: {
            '*': {
                'Sage/Platform/Mobile': 'argos',
                'Mobile/SalesLogix': 'crm',
                'icboe': 'crm/Integrations/BOE'
            }
        }
  });
  </script>
</head>
<body>
  <script type="text/javascript">
  function buildContext() {
    var filePaths = {
      '../localization/locales/crm': [
        'strings.l20n',
        'regional.l20n'
      ],
      '../../../argos-sdk/localization/locales/argos': [
        'strings.l20n',
        'regional.l20n'
      ]
    };
    var supportedLocales = [
      'en'
    ];
    var ctx = L20n.getContext();
    var defaultLocale = 'en';
    var currentLocale = 'en';

    Object.keys(filePaths).forEach(function(path) {
      var files = filePaths[path];
      files.forEach(function(file) {
        ctx.linkResource(function(locale) {
          return [path, locale, file].join('/');
        });
      });
    });
    ctx.registerLocales(defaultLocale, supportedLocales);
    ctx.requestLocales(currentLocale);
    window.localeContext = ctx;
    window.defaultLocaleContext = ctx;
    return ctx;
  }
  <% with (scripts) { %>
  var ctx = buildContext();
  ctx.ready(function() {
    require([
      'spec/all'
    ]);
  });

  // Shim, sohoxi will use define.amd and require it.
  define('jquery', function() {
    return window.$;
  });
  require([
    '<%= boot %>',
    '<%= reporters[0] %>',
    '<%= reporters[1] %>'
  ]);
  <% }; %>
  </script>
</body>
</html>
