<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Jasmine Spec Runner</title>
  <% css.forEach(function(style){ %>
  <link rel="stylesheet" type="text/css" href="<%= style %>">
  <% }); %>

  <% with (scripts) { %>
    <% [].concat(polyfills, jasmine, vendor, helpers).forEach(function(script){ %>
    <script src="<%= script %>"></script>
    <% }) %>
  <% }; %>

  <!-- JSON -->
  <script type="text/javascript" src="../../argos-sdk/libraries/json2.js"></script>

  <!-- SData Client Library -->
  <script type="text/javascript" src="../../argos-sdk/libraries/sdata/sdata-client-dependencies-debug.js"></script>
  <script type="text/javascript" src="../../argos-sdk/libraries/sdata/sdata-client-debug.js"></script>

  <!-- Simplate -->
  <script type="text/javascript" src="../../argos-sdk/libraries/Simplate.js"></script>

  <!-- Overthrow -->
  <script type="text/javascript" src="../../argos-sdk/libraries/overthrow/overthrow.js"></script>

  <!-- canvas2image for when HTMLCanvasElement.prototype.toDataURL isn't available -->
  <script type="text/javascript" src="../../argos-sdk/libraries/canvas2image.js"></script>

  <!-- Deep Diff -->
  <script type="text/javascript" src="../../argos-sdk/libraries/deep-diff/deep-diff-0.2.0.min.js"></script>

  <!-- Dojo -->
  <script type="text/javascript" src="../../argos-sdk/libraries/dojo/dojo/dojo.js" data-dojo-config="parseOnLoad:false, async:true, blankGif:'content/images/blank.gif'"></script>
  <script type="text/javascript">
  require({
      baseUrl: "./",
        packages: [
            { name: 'dojo', location: '../../argos-sdk/libraries/dojo/dojo' },
            { name: 'dijit', location: '../../argos-sdk/libraries/dojo/dijit' },
            { name: 'snap', location: '../../argos-sdk/libraries/snap', main: 'snap' },
            { name: 'moment', location: '../../argos-sdk/libraries/moment', main: 'moment-with-langs.min' },
            { name: 'argos', location: '../../argos-sdk/src-out' },
            { name: 'crm', location: '.grunt/grunt-contrib-jasmine/src-out' },
            { name: 'spec', location: 'tests/src' },
            { name: 'localization', location: '.grunt/grunt-contrib-jasmine/localization' },
            { name: 'configuration', location: '.grunt/grunt-contrib-jasmine/configuration' }
        ],
        paths: {
            'configuration': '.grunt/grunt-contrib-jasmine/configuration',
            'localization': '.grunt/grunt-contrib-jasmine/localization',
        },
        map: {
            '*': {
                'Sage/Platform/Mobile': 'argos',
                'Mobile/SalesLogix': 'crm'
            }
        }
  });
  </script>
</head>
<body>
  <script type="text/javascript">
  require([
    'spec/all',
    'localization/en',
    'localization/saleslogix/en',
  <% with (scripts) { %>
    '<%= boot %>',
    '<%= reporters[0] %>',
    '<%= reporters[1] %>'
  <% }; %>
  ], function() {
  });
  </script>
</body>
</html>
