<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 <appSettings>
 </appSettings>
 <system.web>
   <globalization uiCulture="auto" culture="auto" />
   <compilation debug="false">
     <assemblies>
       <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
       <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
       <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
       <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
     </assemblies>
   </compilation>
 </system.web>
 <system.codedom>
   <compilers>
     <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
       <providerOption name="CompilerVersion" value="v4.0" />
       <providerOption name="WarnAsError" value="false" />
     </compiler>
   </compilers>
 </system.codedom>
    <system.webServer>
        <staticContent>
            <remove fileExtension=".l20n" />
            <remove fileExtension=".less" />
            <remove fileExtension=".eot" />
            <remove fileExtension=".ttf" />
            <remove fileExtension=".otf" />
            <remove fileExtension=".woff" />
            <remove fileExtension=".woff2" />
            <remove fileExtension=".svg" />

            <mimeMap fileExtension=".l20n" mimeType="text/plain" />
            <mimeMap fileExtension=".less" mimeType="text/css" />
            <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
            <mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".otf" mimeType="font/opentype" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
        </staticContent>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.aspx" />
                <add value="index.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
