# Copy to .env and change your settings
# Setting an environment var will override these values

# Playwright Options
PLAYWRIGHT_HEADLESS=1
PLAYWRIGHT_SLOMO=0

# CRM Options
MAIN_INDEX=http://localhost:8000/products/argos-saleslogix/index-dev.html


# Users
ADMIN_USER=admin
ADMIN_PW=
LOUP_USER=loup
LOUP_PW=
