@import "base.css";

body
{
	font-family: Helvetica, Arial;
	background: #eaf1df;
	color: #000;
}

h3
{
    font-size: 1em;
    font-weight: normal;
}

h4
{
    color: #00338D;
    font-weight: normal;
    font-size: .8em;
}

h5
{
    margin: 0;
    padding: 0;
    font-size: .8em;
    font-weight: normal;
}

body > ul > li,
ul.list-content > li
{
    font-weight: normal;
}

body > ul > li span,
ul.list-content > li span
{
    /* font-size: .8em; */
}


body > .toolbar {
    border-bottom: 1px solid black;
    border-top: 1px transparent black;  
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgb(3,84,57)),
        color-stop(1, rgb(2,54,37))
    );
    background-image: -moz-linear-gradient(
        center top,
        rgb(3,84,57) 0%,
        rgb(2,54,37) 100%
    );
    -moz-box-shadow: rgba(255,255,255,0.05) 0px 22px 0px inset, rgba(0,0,0,0.5) 0px 2px 3px;
    -webkit-box-shadow: rgba(255,255,255,0.05) 0px 22px 0px inset, rgba(0,0,0,0.5) 0px 2px 3px;
}

.toolbar > h1
{
	color: #fff;
	text-shadow: rgba(0, 0, 0, 1) 1px 1px 0;
}

body > ul,
body > div.list
{
    background: #fff;
}

.dialog .toolbar > h1
{
    color: #000;
	text-shadow: rgba(255, 255, 255, 1) 1px 1px 0;
}

.dialog > fieldset
{
	border-bottom: 1px solid #2d3642;
    border-top: 1px solid #6d84a2;  
    background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #e6e6e6),
		color-stop(1, #aaaaaa)
	);  
	background: -moz-linear-gradient(top, #e6e6e6, #aaaaaa);
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
}

.dialog > fieldset > hr
{
    display: block;
    width: 100%;
    border-style: inset;
    border-color: #eeeeee;
}

.dialog > fieldset > label
{
    color: #999999;
}

.panel > h2,
.panel-content > h2
{
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #e6e6e6),
        color-stop(1, #cccccc)
    );
    background-image: -moz-linear-gradient(top, #e6e6e6, #cccccc);
    -moz-box-shadow: rgba(0,0,0,0.5) 0px 2px 3px, rgba(255,255,255,0.25) 0px 16px 0px inset;
    -webkit-box-shadow: rgba(0,0,0,0.5) 0px 2px 3px, rgba(255,255,255,0.25) 0px 16px 0px inset;
    color: #000;
    text-shadow: rgba(255, 255, 255, 1) 1px 1px 0px;
    font-weight: bold;
}

.panel-validation-summary > h2
{
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #de6464),
		color-stop(1, #b33737)
	);
	background-image: -moz-linear-gradient(top, #de6464, #b33737);
    -moz-box-shadow: rgba(0,0,0,0.5) 0px 2px 3px, rgba(255,255,255,0.25) 0px 16px 0px inset;
    -webkit-box-shadow: rgba(0,0,0,0.5) 0px 2px 3px, rgba(255,255,255,0.25) 0px 16px 0px inset;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 1) 1px 1px 0px;
    font-weight: bold;
}

.panel > h2:first-child,
.panel-content > h2:first-child,
.panel-validation-summary > h2:first-child    
{
    border-top: none 0 black;
}

.panel-form-error > .panel-content > h2:first-child
{
    border-top: 1px solid #000;
}

.panel > fieldset,
.panel-content > fieldset,
.panel-validation-summary > fieldset
{
    border-style: none solid solid solid;
    border-color: #024731;
    border-width: 0 2px 2px 2px;
    background: #fff;    
}

input:focus,
textarea:focus
{
	outline: none;
	background-color: #fff; /* #FDFFDD */;
}

.panel > ul,
.panel-content > ul,
.panel-validation-summary > ul
{
    border-style: none solid solid solid;
    border-color: #024731;
    border-width: 0 2px 2px 2px;
    background: #fff;
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    -webkit-border-bottom-right-radius: 8px;
}

.panel > ul > li,
.panel-content > ul > li,
.panel-validation-summary > ul > li
{
    border-bottom: solid 1px #ddd;
    cursor: pointer;
}

.panel > ul > li:last-child,
.panel-content > ul > li:last-child,
.panel-validation-summary > ul > li:last-child
{
    border-bottom: none 0 black;
}

.panel > ul > * > a,
.panel-content > ul > * > a,
.panel-validation-summary > ul > * > a
{
    color: inherit;
    text-decoration: none;
}

div.row > label
{
    color: #00338D;
}

div.row-edit > textarea
{
    font-family: Helvetica, Arial;
    font-size: 16px;
}

div.row-edit > input:focus,
div.row-edit > textarea:focus
{    
    -webkit-box-shadow: 0 0 5px #f0ac55 !important;
    -moz-box-shadow: 0 0 5px #f0ac55 !important;
}

div.row-edit
{
    border-bottom: solid 1px #ddd;
}

div.row-edit:last-child
{
    border-bottom: none 0 black;
}

.button 
{
    display: block;
    
	color: #fff;
	text-align: center;
	text-decoration: none;

	font-weight: bold;
	font-size: .8em;

	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    border-style: solid;
    border-width: 1px;
    border-color: #000;

    cursor: pointer;

    text-shadow: rgba(0, 0, 0, 1) 1px 1px 0;

    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgb(18,99,72)),
        color-stop(1, rgb(17,69,52))
    );
    background-image: -moz-linear-gradient(
        center top,
        rgb(18,99,72) 0%,
        rgb(17,69,52) 100%
    );
    -moz-box-shadow: rgba(255,255,255,0.05) 0px 15px 0px inset, rgba(255,255,255,1.0) 0px 0px 1px inset;
    -webkit-box-shadow: rgba(255,255,255,0.05) 0px 15px 0px inset, rgba(255,255,255,1.0) 0px 0px 1px inset;
    
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
}

.button:active
{
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(18,99,72)),
        color-stop(1, rgb(17,69,52))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(18,99,72) 0%,
        rgb(17,69,52) 100%
    );
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
}

.blueButton
{
    background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #2ca0d1),
		color-stop(1, #07a)
	);
	background-image: -moz-linear-gradient(top, #2ca0d1, #07a);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
}

.blueButton:active
{
    background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #2ca0d1),
		color-stop(1, #07a)
	);
	background-image: -moz-linear-gradient(bottom, #2ca0d1, #07a);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
}

.redButton
{
    background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #de6464),
		color-stop(1, #b33737)
	);
	background-image: -moz-linear-gradient(top, #de6464, #b33737);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
}

.redButton:active
{
    background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #de6464),
		color-stop(1, #b33737)
	);
	background-image: -moz-linear-gradient(bottom, #de6464, #b33737);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
}

.whiteButton
{
    color: #444;
    text-shadow: rgba(255, 255, 255, 1) 1px 1px 0;

    background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #e6e6e6),
		color-stop(1, #cccccc)
	);
	background-image: -moz-linear-gradient(top, #e6e6e6, #cccccc);

    -moz-box-shadow: rgba(255,255,255,0.25) 0px 15px 0px inset, rgba(255,255,255,1.0) 0px 0px 1px inset;
    -webkit-box-shadow: rgba(255,255,255,0.25) 0px 15px 0px inset, rgba(255,255,255,1.0) 0px 0px 1px inset;

    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
}

.whiteButton:active
{
    background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #e6e6e6),
		color-stop(1, #cccccc)
	);
	background-image: -moz-linear-gradient(bottom, #e6e6e6, #cccccc);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
}

.lightGreenButton
{
    color: #000;
    text-shadow: rgba(255, 255, 255, 1) 1px 1px 0;
    
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgb(218,237,190)),
        color-stop(1, rgb(190,207,166))
    );
    background-image: -moz-linear-gradient(
        center top,
        rgb(218,237,190) 0%,
        rgb(190,207,166) 100%
    );

    -moz-box-shadow: rgba(255,255,255,0.25) 0px 15px 0px inset, rgba(255,255,255,1.0) 0px 0px 1px inset;
    -webkit-box-shadow: rgba(255,255,255,0.25) 0px 15px 0px inset, rgba(255,255,255,1.0) 0px 0px 1px inset;

    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
}

.lightGreenButton:active
{
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(218,237,190)),
        color-stop(1, rgb(190,207,166))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(218,237,190) 0%,
        rgb(190,207,166) 100%
    );
}